@white: #ffffff;
@black: #333333;
@lighter-grey: #efefef;
@light-grey: #e0e4ed;
@grey: #c4c3c2;
@yellow: #ffde00;
@lighter-red: #fceded;
@red: #f85e5e;
@lighter-blue: #e5f0ff;
@light-blue: #65a5ff;
@blue: #287bf1;
@warning: #ffa633;
@primary: #3582fb;
@dangerous: #f85e5e;